<div id="contener-gora">
  <h1>Twoje dane</h1>

  <div id="dane">
    <h1>Dane twojego pojazdu: </h1>
     <ul>
      <li>Marka: {{marka}}</li>
      <li>Model: {{model}}</li>
      <li> Rok: {{rocznik}}</li>
       <li>Rodzaj paliwa: {{rodzPaliwa}}</li>
       <li>Pojemność: {{pojemnosc}}</li>
       <li>Przebieg: {{przebieg}} tyś</li>
        <li>Typ nadwozia: {{typNadwozia}}</li>
       <li>Cena: {{cena}} zł </li>
       <h3>Dane sprzedającego:</h3>
       <li>Imię: {{daneOsoby.imie}}</li>
       <li>Nazwisko: {{daneOsoby.nazwisko}}</li>
      <li>Ulica: {{daneOsoby.ulica}}  {{daneOsoby.nrBudynku}}</li>
      <li>Miasto: {{daneOsoby.miasto}}</li>
      <li>Email: {{daneOsoby.email}}</li>
       <li>Telefon: {{daneOsoby.telefon}}</li>
    </ul>
  </div>


  <div id="dodatkowe">

    <h1>Dodatkowe wyposażenie: </h1>
    <form>
      <div>
        <label for="taskField">Wyposażenie: </label>
        <input type="text" #task id="taskField">
        <button (click)="addTask(task.value)">Dodaj</button>
      </div>
    </form>


    

    <ul>
      <li *ngFor="let task of tasks; let i = index">
        <button (click)="deleteTask(task)">Usuń</button>
        {{i + 1}}.{{task}}
      </li>
    </ul>
  </div>
</div>



  <div id="edytor">
    <h1>Edytowanie danych:</h1>
    <div>
      <button (click)="changeEditMode()">Edytuj</button>
    </div>
     <br>
    <div *ngIf="editMode">
      <form>
        <div>
          <label>Marka:</label>
          <input type="text" [(ngModel)]="marka" name="marka">
        </div>
        <div>
          <label>Model:</label>
          <input type="text" [(ngModel)]="model" name="model">
        </div>

        <div>
          <label>Rok:</label>
          <input type="number" [(ngModel)]="rocznik" name="rok">
        </div>

        <div>
          <label>Rodzaj paliwa:</label>
          <input type="text" [(ngModel)]="rodzPaliwa" name="rodzPaliwa">
        </div>

        <div>
          <label>Rrrzebieg:</label>
          <input type="text" [(ngModel)]="przebieg" name="przebieg">
        </div>

        <div>
          <label>Pojemność:</label>
          <input type="text" [(ngModel)]="pojemnosc" name="pojemnosc">
        </div>

        <div>
          <label>Typ nadwozia:</label>
          <input type="text" [(ngModel)]="typNadwozia" name="typNadwozia">
        </div>

        <div>
          <label>Cena: </label>
          <input type="text" [(ngModel)]="cena" name="cena">
        </div>


        <div>
          <h3>Dane sprzedającego:</h3>
        </div>

        <div>
          <label> Imie: </label>
          <input type="text" [(ngModel)]="daneOsoby.imie" name="daneOsoby.imie">
        </div>
        <div>
          <label> Nazwisko: </label>
          <input type="text" [(ngModel)]="daneOsoby.nazwisko" name="daneOsoby.nazwisko">
        </div>
        <div>
          <label> Ulica: </label>
          <input type="text" [(ngModel)]="daneOsoby.ulica" name="daneOsoby.ulica">
        </div>

        <div>
          <label>Numer budynku: </label>
          <input type="text" [(ngModel)]="daneOsoby.nrBudynku" name="daneOsoby.nrBudynku">
        </div>

        <div>
          <label>Miasto: </label>
          <input type="text" [(ngModel)]="daneOsoby.miasto" name="address.city">
        </div>

        <div>
          <label>Email:  </label>
          <input type="text" [(ngModel)]="daneOsoby.email" name="daneOsoby.email">
        </div>
        <div>
          <label>Telefon:  </label>
          <input type="text" [(ngModel)]="daneOsoby.telefon" name="daneOsoby.telefon">
        </div>

      </form>
      <br>
    </div>
  </div>

